/*Adaptive-menu*/

nav{
  height: 10px;
  z-index: 50;
  display: flex;
  align-items: center;
  .menu-open &{
    position: fixed;
  }
}

/*Burger styles*/

.burger-btn{
  height: 30px;
  width: 30px;
  display: block;
  z-index: 100;
  position: relative;
  cursor: pointer;
}

.burger-btn:before{
  display: block;
  transform-origin: center;
  z-index: 100;
  content: '';
  width: 100% !important;
  background-color: #E4A598;
  height: 2px;
  margin-bottom: 5px;

  transition: all ease 0.5s;
}

.burger-btn span{
  display: block;
  z-index: 100;
  width: 100% !important;
  background-color: #E4A598;
  height: 2px;
  transition: all ease 0.2s;
}

.burger-btn:after{
  display: block;
  transform-origin: center;
  z-index: 100;
  content: '';
  width: 100% !important;
  background-color: #E4A598;
  height: 2px;
  margin-top: 5px;

  transition: all ease 0.5s;
}

/*X-style-btn*/

.x-style:before{
  transform: rotate(45deg) translateY(10px);
}

.x-style span{
  opacity: 0;
}

.x-style:after{
  transform: rotate(-45deg) translateY(-10px);
}

