.menu{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-130%);
  transition: all ease 0.5s;
}

.menu.active{
  transform: translateX(0);
}

.menu__content{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 0.7s;
}

.menu__header{
  margin-bottom: 20px;
  margin-top: 100px;
  margin-right: auto;
  padding: 10px;
  font-size: 2rem;
  color:  #E4A598;
  border-top: 1px solid white;
  width: 100%;
  text-align: center;
}

ul li a{

  margin-bottom: 30px;
  color: #E4A598;
  text-decoration: none;
  font-size: 1.3rem;
}
ul li{
  display: flex;
  align-items: center;

}

ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-icons{
  color: white;
  margin-left: 10px;
}

.vision-adaptive{
  display: none;
}

.vision-menu{
  display: block;
}

@media screen and (max-width: 768px){
  .vision-adaptive{
    display: block;
  }

  .vision-menu{
    display: none;
  }

  .menu__content{
    width: 100%;
  }
  .blur{
    backdrop-filter:none ;
  }
}
